asp/BEC/Service References/WS_Agregar_Bec/Agregar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertarEstante" type="tns:InsertarEstante" />
  <xs:element name="InsertarEstanteResponse" type="tns:InsertarEstanteResponse" />
  <xs:element name="InsertarLibro" type="tns:InsertarLibro" />
  <xs:element name="InsertarLibroResponse" type="tns:InsertarLibroResponse" />
  <xs:element name="InsertarMultimedia" type="tns:InsertarMultimedia" />
  <xs:element name="InsertarMultimediaResponse" type="tns:InsertarMultimediaResponse" />
  <xs:element name="InsertarStock" type="tns:InsertarStock" />
  <xs:element name="InsertarStockResponse" type="tns:InsertarStockResponse" />
  <xs:element name="insertaPrestamo" type="tns:insertaPrestamo" />
  <xs:element name="insertaPrestamoMultimedia" type="tns:insertaPrestamoMultimedia" />
  <xs:element name="insertaPrestamoMultimediaResponse" type="tns:insertaPrestamoMultimediaResponse" />
  <xs:element name="insertaPrestamoResponse" type="tns:insertaPrestamoResponse" />
  <xs:element name="insertarFicha" type="tns:insertarFicha" />
  <xs:element name="insertarFichaResponse" type="tns:insertarFichaResponse" />
  <xs:element name="insertarMulta" type="tns:insertarMulta" />
  <xs:element name="insertarMultaResponse" type="tns:insertarMultaResponse" />
  <xs:element name="insertarRol" type="tns:insertarRol" />
  <xs:element name="insertarRolResponse" type="tns:insertarRolResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuario2" type="tns:insertarUsuario2" />
  <xs:element name="insertarUsuario2Response" type="tns:insertarUsuario2Response" />
  <xs:element name="insertarUsuario3" type="tns:insertarUsuario3" />
  <xs:element name="insertarUsuario3Response" type="tns:insertarUsuario3Response" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarStock">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarStockResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertaPrestamoMultimedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertaPrestamoMultimediaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarMultimedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element name="arg5" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarMultimediaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario2Response">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario3">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario3Response">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarEstante">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarEstanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMultaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFicha">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element name="arg5" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFichaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertaPrestamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertaPrestamoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarLibro">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element name="arg6" type="xs:int" />
      <xs:element name="arg7" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarLibroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>