asp/BEC/Service References/WS_Eliminar_Bec/Eliminar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devolver" type="tns:devolver" />
  <xs:element name="devolverResponse" type="tns:devolverResponse" />
  <xs:element name="eliminarFicha" type="tns:eliminarFicha" />
  <xs:element name="eliminarFichaResponse" type="tns:eliminarFichaResponse" />
  <xs:element name="eliminarRol" type="tns:eliminarRol" />
  <xs:element name="eliminarRolResponse" type="tns:eliminarRolResponse" />
  <xs:element name="eliminarUsuario" type="tns:eliminarUsuario" />
  <xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse" />
  <xs:complexType name="eliminarRol">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuario">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFicha">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFichaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devolver">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devolverResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>