asp/BEC/Service References/WS_Eliminar_Bec/Eliminar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Eliminar" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/bec_biblioteca/Eliminar?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="eliminarRol">
    <part name="parameters" element="tns:eliminarRol" />
  </message>
  <message name="eliminarRolResponse">
    <part name="parameters" element="tns:eliminarRolResponse" />
  </message>
  <message name="eliminarFicha">
    <part name="parameters" element="tns:eliminarFicha" />
  </message>
  <message name="eliminarFichaResponse">
    <part name="parameters" element="tns:eliminarFichaResponse" />
  </message>
  <message name="devolver">
    <part name="parameters" element="tns:devolver" />
  </message>
  <message name="devolverResponse">
    <part name="parameters" element="tns:devolverResponse" />
  </message>
  <portType name="Eliminar">
    <operation name="eliminarUsuario">
      <input wsam:Action="http://ws/Eliminar/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://ws/Eliminar/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="eliminarRol">
      <input wsam:Action="http://ws/Eliminar/eliminarRolRequest" message="tns:eliminarRol" />
      <output wsam:Action="http://ws/Eliminar/eliminarRolResponse" message="tns:eliminarRolResponse" />
    </operation>
    <operation name="eliminarFicha">
      <input wsam:Action="http://ws/Eliminar/eliminarFichaRequest" message="tns:eliminarFicha" />
      <output wsam:Action="http://ws/Eliminar/eliminarFichaResponse" message="tns:eliminarFichaResponse" />
    </operation>
    <operation name="devolver">
      <input wsam:Action="http://ws/Eliminar/devolverRequest" message="tns:devolver" />
      <output wsam:Action="http://ws/Eliminar/devolverResponse" message="tns:devolverResponse" />
    </operation>
  </portType>
  <binding name="EliminarPortBinding" type="tns:Eliminar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFicha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="devolver">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Eliminar">
    <port name="EliminarPort" binding="tns:EliminarPortBinding">
      <soap:address location="http://localhost:8080/bec_biblioteca/Eliminar" />
    </port>
  </service>
</definitions>