asp/WcfService1/Service References/ServiceReference1/Listar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Listar" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/bec_biblioteca/Listar?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="listarRol">
    <part name="parameters" element="tns:listarRol" />
  </message>
  <message name="listarRolResponse">
    <part name="parameters" element="tns:listarRolResponse" />
  </message>
  <message name="listarFicha">
    <part name="parameters" element="tns:listarFicha" />
  </message>
  <message name="listarFichaResponse">
    <part name="parameters" element="tns:listarFichaResponse" />
  </message>
  <message name="listarUsuario">
    <part name="parameters" element="tns:listarUsuario" />
  </message>
  <message name="listarUsuarioResponse">
    <part name="parameters" element="tns:listarUsuarioResponse" />
  </message>
  <portType name="Listar">
    <operation name="listarRol">
      <input wsam:Action="http://ws/Listar/listarRolRequest" message="tns:listarRol" />
      <output wsam:Action="http://ws/Listar/listarRolResponse" message="tns:listarRolResponse" />
    </operation>
    <operation name="listarFicha">
      <input wsam:Action="http://ws/Listar/listarFichaRequest" message="tns:listarFicha" />
      <output wsam:Action="http://ws/Listar/listarFichaResponse" message="tns:listarFichaResponse" />
    </operation>
    <operation name="listarUsuario">
      <input wsam:Action="http://ws/Listar/listarUsuarioRequest" message="tns:listarUsuario" />
      <output wsam:Action="http://ws/Listar/listarUsuarioResponse" message="tns:listarUsuarioResponse" />
    </operation>
  </portType>
  <binding name="ListarPortBinding" type="tns:Listar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFicha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Listar">
    <port name="ListarPort" binding="tns:ListarPortBinding">
      <soap:address location="http://localhost:8080/bec_biblioteca/Listar" />
    </port>
  </service>
</definitions>