asp/WFC_Service_Bec/Service References/WS_Actualizar_Bec/Actualizar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActualizarFicha" type="tns:ActualizarFicha" />
  <xs:element name="ActualizarFichaResponse" type="tns:ActualizarFichaResponse" />
  <xs:element name="actualizarRol" type="tns:actualizarRol" />
  <xs:element name="actualizarRolResponse" type="tns:actualizarRolResponse" />
  <xs:element name="actualizarUsuario" type="tns:actualizarUsuario" />
  <xs:element name="actualizarUsuarioResponse" type="tns:actualizarUsuarioResponse" />
  <xs:complexType name="ActualizarFicha">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
      <xs:element name="arg6" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarFichaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarRolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarUsuario">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>